{# <footer class="py-2 bg-light mt-auto">
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-center text-center small mt-1 mb-1">
			&copy; {{ APP_NAME ~ ' ' ~ "now"|date('Y') }} <br/>
            Governo do Estado do Acre
		</div>
	</div>
</footer>, #}

<footer class="footer">
	© {{ APP_NAME ~ ' ' ~ "now"|date('Y') }} <br/>
	Governo do Estado do Acre
</footer>
